<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>
<% @cocktails.each do |cocktail| %>
<%= link_to cocktail.name, cocktails_path(cocktail) %>
<%= image_tag "/assets/images/drinks.jpg", alt: "Le Wagon", width: 200 %><br>

<% end %>
